<!DOCTYPE html>
<html>
<head>
	<title>Nickname</title>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="/redirect.js"></script>
	
<style>

body{
	background-color:#000;
	position:relative;
	height:768px;
	color:white;	
}

.center{text-align:center;}


</style>

</head>
<body>
<div id="center">
<form action="/chatapp" method="post" accept-charset="utf-8">

<h1>Enter Your Name </h1><br>
<input type="text" name="nickname" placeholder="" class="center" id="nickname">
</form>

</div>
</body>
</html>